flow4.json
[
    {
        "id": "1583303b92e2cc1c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d49d8959cb668e88",
        "type": "mqtt in",
        "z": "1583303b92e2cc1c",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64f0da55badafd53",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "691deb945de0532c"
            ]
        ]
    },
    {
        "id": "691deb945de0532c",
        "type": "json",
        "z": "1583303b92e2cc1c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "18f5a946936de596",
                "f1e9175959a4c4d6"
            ]
        ]
    },
    {
        "id": "18f5a946936de596",
        "type": "function",
        "z": "1583303b92e2cc1c",
        "name": "Humedad",
        "func": "\nmsg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "4d73992d60146699",
                "134adedfbb2a6e2d"
            ]
        ]
    },
    {
        "id": "963cc23a3f7142e5",
        "type": "ui_gauge",
        "z": "1583303b92e2cc1c",
        "name": "",
        "group": "2d8973e00f15aba0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "className": "",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "4d73992d60146699",
        "type": "ui_gauge",
        "z": "1583303b92e2cc1c",
        "name": "",
        "group": "d8d0e83dd7dc0eca",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "134adedfbb2a6e2d",
        "type": "ui_chart",
        "z": "1583303b92e2cc1c",
        "name": "",
        "group": "d6fc76e40771b5f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e9175959a4c4d6",
        "type": "function",
        "z": "1583303b92e2cc1c",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "963cc23a3f7142e5",
                "134adedfbb2a6e2d"
            ]
        ]
    },
    {
        "id": "64f0da55badafd53",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d8973e00f15aba0",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "767c0dd867622e8e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8d0e83dd7dc0eca",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "767c0dd867622e8e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6fc76e40771b5f5",
        "type": "ui_group",
        "name": "Historico",
        "tab": "767c0dd867622e8e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "767c0dd867622e8e",
        "type": "ui_tab",
        "name": "flow4",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]